


/* background */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* 画像 */
  /*background-image: url("/images/fireworks.jpg");*/
  /*background-size: 100% auto;*/
  /*background-position: center top;*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/

  /* 背景透過 */
/*  background-color: rgba(0,0,0,0.6);
  background-blend-mode: color;*/

  color: #FFFFFF;
  font-family: 'Hiragino Kaku Gothic', Avenir, Corbel, Osaka, sans-serif;
}

body::before {
  content: "";
  background: url("/images/fireworks.jpg") no-repeat center center;
  background-size: cover;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: translateZ(0);
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.underline {
  text-decoration: underline;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.3em;
    text-align: center;
    position: relative;
  }

h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -26px; /*下線の上下位置調整*/
  width: 50px; /*下線の幅*/
  height: 1px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #CCC; /*下線の色*/
  border-radius: 40%;
}

h3 {
  font-size: 36px;
  letter-spacing: 0.3em;
}

h4 {
  font-weight: 400;
  margin-top: 10px;
}

/* top以外に指定 */
.wrapper {
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: color;
  padding: 80px 0;
  display: block;
}

.min-h-100 {
  min-height: 100vh;
}

#title {
  margin: 0px auto 70px;
}



/* header */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  padding: 0 calc((100vw - 1100px) / 2);
  justify-content: center;
  position: relative;
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);*/
  background-color: rgba(0,0,0,1.0);
  /*background-blend-mode: normal;*/
  clear: both;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-left {
  float: left;
  padding-top: 30px;
  background-color: rgba(0,0,0,1.0);
}

.logo-top {
  width: 110px;
  background-color: rgba(0,0,0,1.0);
}

.header-center {
  float: right;
  margin-top: 42px;
  letter-spacing: 0.28em;
  font-size: 15px;
}

.header-center .header-box {
  float: left;
  border-right: 1px solid #FFF;
  padding: 0 1.5em;
  background-color: rgba(0,0,0,1.0);
}
.header-center .header-box:last-child {
  border-right: none;
}

.header-center-text {
}

.gradient-bar {
  width: 100%;
  height: 8px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(128, 128, 128, 0.1) 100%);
  background-blend-mode: lighten;
  position: fixed;
  top: 66px;
  left: 0;
  z-index: 100;
}

.header-right {
  float: right;
}

.dummy-text {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 11px;
  color: orange;
  background-color: rgba(0,0,0,1);
}



/* top */
.top-container {
  width: 100vw;
  /*background-color: rgba(0,0,0,0.6);*/
  background-blend-mode: hard-light;
}

.top-box {
  width: 537px;
  margin: 0 auto;
}

.top-img {
  width: 537px;
  margin: calc((100vh - 430px)/2) auto;
}

.top-opacity {
  /*background-color: rgba(255,255,255,0.0);*/
  /*background-blend-mode: lighten;*/
}



/* about */
.about-container {
  width: 100vw;
  margin: 0 auto;
  /*padding: 0 calc((100vw - 1000px) / 2);*/
}

.about-text {
  font-size: 17px;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  text-align: center;
}

.about-subtext {
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  text-align: center;
}

.about-box {
  border: double 3px #AAA;
  width: 780px;
  margin: 50px auto;
}

.about-box-title {
  font-size: 36px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 50px 0 20px;
}

.about-box-text {
  font-size: 17px;
  margin-left: 150px;
  line-height: 2em;
}

.about-box-text-sub {
  font-size: 14px;
  margin-left: 190px;
  margin-bottom: 60px;
  line-height: 2em;
}

.about-img-box {
  width: 780px;
  margin: 0 auto;
}

.about-img {
  width: 50%;
  float: left;
}



/* news */
.news-container {
  width: 1000px;
  margin: 0 auto;
}

.news-title {
}

.news-box {
  width: 890px;
  margin: 0 auto;
  border-bottom: 1px solid #555;
  padding: 30px 0;
  font-size: 14px;
  letter-spacing: 0.15em;
}

.news-text-date {
  font-weight: 700;
  width: 90px;
  margin-right: 30px;
}

.news-text-title {
}



/* CAST */
.cast-container {
  width: 1000px;
  margin: 0 auto;
}
.cast-tag {
  width: 169px;
  height: 32px;
  border: 1px solid #999;
  margin: 3em auto;
  text-align: center;
  vertical-align: center;
  font-size: 20px;
  line-height: 32px;
}

.cast-box {
  width: 500px;
  margin: 0 0 30px;
  padding: 0 10px;
  float: left;
  display: inline;
  /*画像エフェクト*/
  overflow: hidden;
}

.cast-box a:hover {
  opacity: 0.6;
  transition-duration: 0.4s;
  cursor: pointer;
}

.cast-image {
  width: 480px;
  height: 228px;
  padding-bottom: -5px;
}

.cast-name {
  width: 480px;
  font-size: 16px;
  text-align: center;
  margin: 5px 0 0;
}

.kana-order {
  font-size: 12px;
  text-align: right;
  margin: 0 auto;
}



/* FOOD&DRINK */
.fooddrink-container {
  width: 1000px;
  margin: 0 auto;
}

.fd-img {
  width: 980px;
  display: block;
  margin: 0 auto 60px;
}



/* CONTACT */
.ticket-container {
  width: 1000px;
  margin: 0 auto;
}

.ticket-area {
  max-width: 425px;
  margin: 0 auto;
  padding: 15px 30px;
  border: 1px solid #999;
}

.ticket-box {
  width: 100%;
  padding: 15px 0;
}

.ticket-box-text {
  font-size: 17px;
  letter-spacing: 0.1em;
}

.w100 {
  width: 100%;
}

.h20px {
  height: 2em;
}

.h100px {
  height: 10em;
}

.blk {
  color: #000;
}

.ticket-area-button {
  display: block;
  margin: 10px auto 20px;
  padding: 0px 4px;
  font-size: 17px;
  background-color: rgba(120, 120, 120, 0.6);
}



/* ACCESS */
.access-container {
  width: 1000px;
  margin: 0 auto;
}

.access-map {
  float: left;
}

.iframe {
  width: 490px;
  height: 290px;
  border: 1px solid #CCC;
  margin: 0 0 0 10px;
}

.access-box {
  width: 490px;
  height: 290px;
  padding: 0 10px 0 30px;
  float: right;
  display: table;
}

.access-box-text {
  display: table-cell;
  vertical-align: middle;
}

.access-box-text-subtitle {
  font-size: 16px;
  padding: 2px 0;
}

.access-box-text-body {
  font-size: 14px;
}

.access-box-text-address {
  font-size: 11px;
  font-weight: 100;
  padding-bottom: 20px;
}



/* kanri */
.kanri-title {
  font-size: 48px;
  text-align: center;
}

.kanri-subtitle {
  padding-top: 70px;
  font-weight: 700;
  text-align: center;
}

.kanri-subtitle-underline {
  border-bottom: 1px solid #FFF;
  border-radius: 8%;
}

.kanri-news-box {
  width: 890px;
  margin: 0 auto;
  border-bottom: 1px solid #555;
  padding: 30px 0;
  font-size: 14px;
  letter-spacing: 0.15em;
}

.published {
  color: lightgreen;
}

.draft {
  color: orange;
}

.kanri-p {
  margin: 50px 0;
}

.kanri-p-image {
  width: 240px;
  height: 114px;
  float: left;
}

.kanri-p-text {
  margin: 0 0 0 50px;
  float: left;
}

.create-link {
  display: block;
  margin: 20px auto;
  padding: 3px 5px;
  font-size: 16px;
  /*background-blend-mode: lighten;*/
  background-color: rgba(120, 120, 120, 0.6);
}

.create-news {
  width: 500px;
  margin: 100px auto;
}

.create-subtitle {
  font-weight: 700;
  letter-spacing: 0.01em;
}

.create-news-date {
  width: 60px;
}

.create-news-title {
  width: 500px;
}

.news-text-edit {
  font-weight: 100;
  width: 90px;
  margin-right: 30px;
}

.submit-link {
  background-color: rgba(120, 120, 120, 0.6);
  margin-left: 10px;
}

.create-partner-link {
  width: 500px;
}

.partner-edit-image-box {
  width: 160px;
  float: right;
}

.partner-edit-image {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 0px 5px #555);
  /*filter: drop-shadow(2px 4px 6px #000);*/
}

.partner-edit-image-text {
  width: 100%;
  font-size: 11px;
}

.text-center {
  text-align: center;
}



/* form */
.form-table {
  width: 800px;
  margin: 0 auto 200px;
  border-collapse: collapse;
}

.form-thtd {
  min-height: 28px;
  border: 1px dashed #CCC;
  padding: 0 4px;
}

tr:first-child .form-thtd:first-child {
  width: 30px;
}
.form-thtd:nth-child(2) {
  width: 200px;
  /*word-break: break-all;*/
}
.form-thtd:nth-child(3) {
  width: 200px;
}
.form-thtd:nth-child(4) {
  width: 200px;
}
.form-thtd:nth-child(5) {
  width: 80px;
  text-align: center;
  border-top: 3px solid #CCC;
  border-right: 3px solid #CCC;
  border-bottom: 3px solid #CCC;
}
tr:nth-child(2) .form-thtd:first-child {
  width: 760px;
}

// 奇数のtr
tr:nth-child(2n+1) {
  border-top: 3px solid #CCC;
  border-left: 3px solid #CCC;
}
// tr:nth-child(2n) {
  // border-right: 3px solid #CCC;
// }
.form-thtd:first-child {
  border-bottom: 3px solid #CCC;
}

.form-a-visible {
}

.form-a-visible:hover {
  cursor: pointer;
  color: #AAA;
  transition: 0.3s;
}

.form-no-message {
  text-align: center;
  margin-bottom: 200px;
}







/* スマートフォンサイズ(426px)より大きい場合 */
@media screen and (min-width:426px) {
  #sp-only {
    display: none;
  }
}



/* スマートフォンサイズ(425px)以下の大きさの場合 */
@media screen and (max-width:425px) {

  #pc-only {
    display: none;
  }

  /*html,*/
  /*body{*/
    /*width: 100%;*/
    /*height: 100%;  ★大事なのは「100%」 */
    /*overflow: hidden;  ★上の次に大事（必要に応じて） */
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: none;*/
  /*}*/

  * {
    /*box-sizing: border-box;*/
    /*margin: 0;*/
    /*padding: 0;*/

    /* 画像 */
    /*background-image: url("/images/fireworks.jpg");*/
    background-size: auto 100vh;
    /*padding-top: 0;*/
    /*background-position: center top;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/

    /* 背景透過 */
    /*background-color: rgba(0,0,0,0.6);*/
    /*background-blend-mode: color;*/

    /*color: #FFFFFF;*/
    /*font-family: 'Hiragino Kaku Gothic', Avenir, Corbel, Osaka, sans-serif;*/
  }

/*  body::before {
    content: "";
    background: url("/images/fireworks.jpg") no-repeat center center;
    background-size: cover;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: translateZ(0);
  }*/

  h2 {
      /*font-size: 36px;*/
      /*font-weight: 400;*/
      /*letter-spacing: 0.3em;*/
      /*text-align: center;*/
      /*position: relative;*/
    }

  h2:before {
    /*content: '';*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*bottom: -30px; /*下線の上下位置調整*/
    /*width: 50px; /*下線の幅*/
    /*height: 1px; /*下線の太さ*/
    /*-moz-transform: translateX(-50%);*/
    /*-webkit-transform: translateX(-50%);*/
    /*-ms-transform: translateX(-50%);*/
    /*transform: translate(-50%); /*位置調整*/
    /*background-color: #CCC; /*下線の色*/
    /*border-radius: 40%;*/
  }

  h3 {
    /*font-size: 36px;*/
    /*letter-spacing: 0.3em;*/
  }

  h4 {
    /*font-weight: 400;*/
    /*margin-top: 10px;*/
  }

  /* top以外に指定 */
  .wrapper {
    /*background-color: rgba(0,0,0,0.6);*/
    /*background-blend-mode: color;*/
    /*padding: 80px 0;*/
    /*display: block;*/
  }

  .min-h-100 {
    /*min-height: 100vh;*/
  }

  #title {
    margin: 0px auto 50px;
  }



  /* header */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    /*width: 100%;*/
    height: 50px;
    padding: 0;
    /*justify-content: center;*/
    /*position: relative;*/
    /*clear: both;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 100;*/
  }

  .header-left {
    padding: 11px 10px 0;
  }

  .logo-top {
    width: 112px;
  }

  .header-center {
    /*float: right;*/
    /*margin-top: 42px;*/
    /*letter-spacing: 0.28em;*/
    /*font-size: 15px;*/
  }

  .header-center .header-box {
    /*float: left;*/
    /*border-right: 1px solid #FFF;*/
    /*padding: 0 1.5em;*/
    /*background-color: rgba(0,0,0,1.0);*/
  }
  .header-center .header-box:last-child {
    /*border-right: none;*/
  }

  .gradient-bar {
    /*width: 100%;*/
    /*height: 8px;*/
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(128, 128, 128, 0.1) 100%);*/
    /*background-blend-mode: lighten;*/
    /*position: fixed;*/
    top: 50px;
    /*left: 0;*/
    /*z-index: 100;*/
  }

  .header-right {
  }

  .dummy-text {
    /*position: absolute;*/
    top: 10px;
    left: 160px;
    font-size: 10px;
    /*color: orange;*/
    /*background-color: rgba(0,0,0,1);*/
    line-height: 11px;
  }


  /* top */
  .top-container {
    /*width: 100%;*/
    height: 100vh;
    /*background-color: rgba(0,0,0,0.6);*/
    /*background-blend-mode: hard-light;*/
  }

  .top-box {
    width: 90vw;
    height: auto;
    /*margin: 0 auto;*/
  }

  .top-img {
    width: 90vw;
    /*min-height: 100vh;*/
    margin: calc((100vh - (90vw) )/2) auto;
    /*margin: calc((100vh - 430px)/2) auto;*/
  }



  /* about */
  .about-container {
    width: 100vw;
    /*margin: 0 auto;*/
    padding: 0 20px;
  }

  .about-text {
    font-size: 14px;
    /*letter-spacing: 0.1em;*/
    /*line-height: 2.2em;*/
    /*text-align: center;*/
  }

  .about-subtext {
    font-size: 12px;
    /*letter-spacing: 0.1em;*/
    /*line-height: 2.2em;*/
    /*text-align: center;*/
  }

  .about-box {
    /*border: double 3px #AAA;*/
    width: 90vw;
    /*margin: 50px auto;*/
    padding: 0px 10px;
  }

  .about-box-title {
    font-size: 24px;
    /*letter-spacing: -0.04em;*/
    /*text-align: center;*/
    /*margin: 50px 0 20px;*/
  }

  .about-box-text {
    font-size: 14px;
    margin-left: 0px;
    /*line-height: 2em;*/
    padding-left: 3em;
    text-indent: -3em;
  }

  .about-box-text-sub {
    font-size: 14px;
    margin-left: 3em;
    /*margin-bottom: 60px;*/
    /*line-height: 2em;*/
  }

  .about-img-box {
    width: 90vw;
    /*margin: 0 auto;*/
  }

  .about-img {
    width: 100%;
    float: none;
  }



  /* news */
  .news-container {
    width: 100vw;
    /*margin: 0 auto;*/
    padding: 0 20px;
  }

  .news-title {
  }

  .news-box {
    width: 100%;
    /*margin: 0 auto;*/
    /*border-bottom: 1px solid #555;*/
    padding: 10px 0;
    /*font-size: 14px;*/
    /*letter-spacing: 0.15em;*/
  }

  .news-text-date {
    /*font-weight: 700;*/
    width: auto;
    /*margin-right: 30px;*/
    font-size: 12px;
    letter-spacing: 0.01em;
    margin-top: 10px;
  }

  .news-text-title {
    letter-spacing: 0.05em;
  }



  /* CAST */
  .cast-container {
    width: 100vw;
    /*margin: 0 auto;*/
    padding: 0 10px;
  }
  .cast-tag {
    /*width: 169px;*/
    /*height: 32px;*/
    /*border: 1px solid #999;*/
    margin-bottom: 40px;
    /*text-align: center;*/
    /*vertical-align: center;*/
    /*font-size: 20px;*/
    /*line-height: 32px;*/
  }

  .cast-box {
    width: 100%;
    margin: 0;
    /*margin: 0 0 30px;*/
    padding: 0;
    float: none;
    /*display: inline;*/
    /*画像エフェクト*/
    /*overflow: hidden;*/
  }

  .cast-box a:hover {
    /*opacity: 0.6;*/
    /*transition-duration: 0.4s;*/
    /*cursor: pointer;*/
  }

  .cast-image {
    width: 100%;
    height: auto;
    /*padding-bottom: -5px;*/
  }

  .cast-name {
    width: 100%;
    font-size: 14px;
    /*text-align: center;*/
    /*margin: 5px 0 0;*/
  }

  .kana-order {
    font-size: 11px;
    /*text-align: right;*/
    /*margin: 0 auto;*/
  }



  /* FOOD&DRINK */
  .fooddrink-container {
    width: 100vw;
    /*margin: 0 auto;*/
    padding: 0 10px;
  }

  .fd-img {
    width: 100%;
    /*display: block;*/
    /*margin: 0 auto 60px;*/
    margin: 60px auto 30px;
  }



  /* CONTACT */
  .ticket-container {
    width: 90vw;
  }

  .ticket-area {
    width: 100%;
    /*margin: 0 auto;*/
    padding: 5px 5vw;
    /*border: 1px solid #999;*/
  }

  .ticket-box {
    /*width: 100%;*/
    /*padding: 15px 0;*/
  }

  .ticket-box-text {
    font-size: 14px;
    /*letter-spacing: 0.1em;*/
  }

  .w100 {
    /*width: 100%;*/
  }

  .h20px {
    height: 2em;
  }

  .h100px {
    height: 10em;
  }

  .blk {
    /*color: #000;*/
  }

  .ticket-area-button {
    display: block;
    /*margin: 10px auto 20px;*/
    /*padding: 0px 4px;*/
    font-size: 14px;
    /*background-color: rgba(120, 120, 120, 0.6);*/
  }



  /* ACCESS */
  .access-container {
    width: 100vw;
    padding: 0 20px;
    /*margin: 0 auto;*/
  }

  .access-map {
    float: none;
  }

  .iframe {
    width: 100%;
    /*height: 290px;*/
    /*border: 1px solid #CCC;*/
    margin: 0 auto;
  }

  .access-box {
    width: 100%;
    height: auto;
    padding: 20px 0 40px;
    float: none;
    /*display: table;*/
  }

  .access-box-text {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
  }

  .access-box-text-subtitle {
    /*font-size: 16px;*/
    /*padding: 2px 0;*/
  }

  .access-box-text-body {
    /*font-size: 14px;*/
  }

  .access-box-text-address {
    /*font-size: 11px;*/
    /*font-weight: 100;*/
    /*padding-bottom: 20px;*/
  }



  /* kanri */
  .kanri-title {
    font-size: 40px;
    /*text-align: center;*/
  }

  .kanri-subtitle {
    font-size: 24px;
    letter-spacing: 0.01em;
    /*padding-top: 70px;*/
    /*font-weight: 700;*/
    /*text-align: center;*/
  }

  .kanri-subtitle-underline {
    /*border-bottom: 1px solid #FFF;*/
    /*border-radius: 8%;*/
  }

  .create-link {
    /*display: block;*/
    /*margin: 20px auto;*/
  }

  .kanri-news-box {
    width: auto;
    /*margin: 0 auto;*/
    /*border-bottom: 1px solid #555;*/
    padding: 10px 10px;
    /*font-size: 14px;*/
    /*letter-spacing: 0.15em;*/
  }

  .published {
    /*color: lightgreen;*/
  }

  .draft {
    /*color: orange;*/
  }

  .kanri-p {
    /*margin: 50px 0;*/
  }

  .kanri-p-image {
    width: 50%;
    min-width: 200px;
    height: auto;
    margin-bottom: 10px;
    /*float: left;*/
  }

  .kanri-p-text {
    font-size: 15px;
    margin: 0 0 0 10%;
    /*float: left;*/
  }

  .submit-link {
    /*background-color: rgba(120, 120, 120, 0.6);*/
    /*margin-left: 10px;*/
  }

  .partner-edit-image-box {
    /*width: 160px;*/
    /*float: right;*/
  }

  .partner-edit-image {
    /*width: 100%;*/
    /*height: auto;*/
    /*filter: drop-shadow(0px 0px 5px #555);*/
    /*filter: drop-shadow(2px 4px 6px #000);*/
  }

  .partner-edit-image-text {
    /*width: 100%;*/
    /*font-size: 11px;*/
  }

  .text-center {
    /*text-align: center;*/
  }

  .create-news {
    width: 90%;
    /*margin: 100px auto;*/
  }

  .create-subtitle {
    /*font-weight: 700;*/
    /*letter-spacing: 0.01em;*/
    font-size: 24px;
  }

  .create-news-date {
    /*width: 60px;*/
  }

  .create-news-title {
    width: 100%;
  }

  .news-text-edit {
    /*font-weight: 100;*/
    /*width: 90px;*/
    /*margin-right: 30px;*/
  }

  .create-partner-link {
    width: 100%;
  }



}
